{% extends "sinaweb/base.html" %}

{% block content %}

<h1>Welcome!</h1>

<div class="ui green segment">
  <h4 class="ui header">SinaWeb</h4>
  <p>
    <!--
    @todo: Potentially move this content to the view. Since, this app is intended
    to be a quick mockup I'm not sure how much time I want to spend on additional
    content management. Though, I may do so if I find myself writing a lot of text
    in the HTML pages.
    -->
    The SinaWeb is a demo application for visualizing the simulation management
    SQL data model. It's intended to provide context for the various workflows
    it can support, as well as get feedback for improvements. The schema is
    designed to be general for more control over the flow of data.
  </p>
  <p>
    This demo does not represent a usable application and is not designed to
    provide specific functionality.
  </p>
</div>

{% endblock %}
