<table class="ui celled red table">
  <thead>
    <tr>
    <th>Name</th>
    <th>Document Number</th>
    <th>Description</th>
    <th>Journal</th>
    <th>Authors</th>
    <th>Notes</th>
    <th>URI</th>
    <th>Labels</th>
  </tr></thead>
  <tbody>
    {% for reference in object.references_set.all %}
    <tr>
      <td>{{reference.name}}</td>
      <td><a href="{% url 'job_details' pk=job.id %}">{{job.jid}}</a></td>
      <td>{{reference.document_number}}</td>
      <td>{{reference.description}}</td>
      <td>{{reference.journal}}</td>
      <td>{{reference.authors}}</td>
      <td>{{reference.notes}}</td>
      <td>{{reference.uri}}</td>
      <td>{{reference.labels}}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
