{% extends "sinaweb/base.html" %}

{% block content %}
<h1 class="ui horizontal divider header">
  <i class="tasks icon"></i>
  {{title}}
</h1>

<!-- Begin add button -->
<a href="{% url 'sinaweb:reference_new' %}" class="ui right floated blue button">
  <i class="plus icon"></i>
  Add Reference
</a>
<!-- End add button-->
<br /><br />

<table class="ui celled violet table">
  <thead>
    <tr>
    <th>Name</th>
    <th>Document Number</th>
    <th>Description</th>
    <th>Journal</th>
    <th>Author</th>
    <th>Notes</th>
    <th>URI</th>
    <th>Labels</th>
    </tr></thead>
  <tbody>
    {% for item in object_list %}
    <tr>
      <td>{{item.name}}</td>
      <td>{{item.document_number}}
      <td>{{item.description}}</td>
      <td>{{item.journal}}</td>
      <td>{{item.author}}</td>
      <td>{{item.notes}}</td>
      <td>{{item.uri}}</td>
      <td>{{item.labels}}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}
