{% extends "sinaweb/base.html" %}

{% block content %}
<h1>Groups/Reference Tables</h1>

<div class="ui violet segment">
  <h4 class="ui header">Groups & Reference Tables</h4>
  <p>
    <!--
    @todo: Potentially move this content to the view. Since, this app is intended
    to be a quick mockup I'm not sure how much time I want to spend on additional
    content management. Though, I may do so if I find myself writing a lot of text
    in the HTML pages.
    -->
    Groups (reference tables) are entries that exist to group information into
    a category. For example, scalars may be grouped into various categories such
    as `simulation output', `baseline data`, etc. Groups can be reused across
    multiple tables for which they are associated with.
  </p>
</div>



<!--
@todo: Look for a more dynamic way to link the groups. Similar, to the top
content, this might be able to be handled in a view. I'm not sure if Django has
anything for this specific use case.
-->
<div class="ui items">
  <!-- Begin item -->
  <div class="item">
    <div class="content">
      <div class="header">
          <a href="{% url 'scalar_group_list' %}">Scalar Groups</a>
      </div>
      <div class="meta">
        <span class="desc">View the scalar groups.</span>
      </div>
      <div class="description">
        <p></p>
      </div>
    </div>
  </div>
  <!-- End item -->
  <!-- Begin item -->
  <div class="item">
    <div class="content">
      <div class="header">
          <a href="{% url 'curve_group_list' %}">Curve Groups</a>
      </div>
      <div class="meta">
        <span class="desc">View the curve groups.</span>
      </div>
      <div class="description">
        <p></p>
      </div>
    </div>
  </div>
  <!-- End item -->
  <!-- Begin item -->
  <div class="item">
    <div class="content">
      <div class="header">
          <a href="{% url 'array_group_list' %}">Array Groups</a>
      </div>
      <div class="meta">
        <span class="desc">View the array groups.</span>
      </div>
      <div class="description">
        <p></p>
      </div>
    </div>
  </div>
  <!-- End item -->
  <!-- Begin item -->
  <div class="item">
    <div class="content">
      <div class="header">
          <a href="{% url 'scheduler_group_list' %}">Scheduler Groups</a>
      </div>
      <div class="meta">
        <span class="desc">View the scheduler groups.</span>
      </div>
      <div class="description">
        <p></p>
      </div>
    </div>
  </div>
  <!-- End item -->
  <!-- Begin item -->
  <div class="item">
    <div class="content">
      <div class="header">
          <a href="{% url 'unit_group_list' %}">Unit Groups</a>
      </div>
      <div class="meta">
        <span class="desc">View the unit groups.</span>
      </div>
      <div class="description">
        <p></p>
      </div>
    </div>
  </div>
  <!-- End item -->
  <!-- Begin item -->
  <div class="item">
    <div class="content">
      <div class="header">
          <a href="{% url 'reference_list' %}">Reference Groups</a>
      </div>
      <div class="meta">
        <span class="desc">View the reference groups.</span>
      </div>
      <div class="description">
        <p></p>
      </div>
    </div>
  </div>
  <!-- End item -->
</div>
{% endblock %}
