{% extends "sinaweb/base.html" %}

{% block content %}

<h1 class="ui horizontal divider header">
  <i class="tasks icon"></i>
  {{title}}
</h1>

<!-- Begin add button -->
<a href="new/{{group}}" class="ui right floated blue button">
  <i class="plus icon"></i>
  Add {{group}}
</a>
<!-- End add button-->
<br /><br />

<table class="ui celled violet table">
  <thead>
    <tr>
    <th>Actions</th>
    <th>Name</th>
    <th>Description</th>
    <th>Notes</th>
    <th>Parent</th>
    </tr></thead>
  <tbody>
    {% for item in object_list %}
    <tr>
      <td>
        <a href="{{group}}/edit/{{item.id}}" class="ui mini vertical blue basic animated button" tabindex="0">
          <div class="hidden content">Edit</div>
          <div class="visible content">
            <i class="edit icon"></i>
          </div>
        </a>
      </td>
      <td>{{item.name}}</td>
      <td>{{item.description}}</td>
      <td>{{item.notes}}</td>
      <td>{{item.parent_group}}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}
