# For use on LLNL Network. Remove these flags if outside LC.
 --no-index
 --find-links /usr/gapps/python/wheelhouse/
 --trusted-host www-lc.llnl.gov
 --find-links http://www-lc.llnl.gov/python/wheelhouse/
# Used for wheels not yet in the LC wheelhouse.
 --find-links /usr/gapps/wf/packages/third-party

sqlalchemy
six
cassandra-driver
tox
flake8
mock
jsonschema

# Note: nose installed independently of tox to ensure xunit functionality is available
nose
sphinx==1.4.4
sphinx_rtd_theme

### Install the project in editable (development) mode
-e .
