{% extends "sinaweb/base.html" %}

{% block content %}
<!-- Begin breadcrumb -->
<!-- Note: There is probably a better way to implement this -->
<div class="ui breadcrumb">
  <a href="{% url 'tasks_list' %}" class="section">{{object.name}}</a>
  <div class="divider"> / </div>
</div>
<!-- End breadcrumb -->

<h1>Job {{object.name}}</h1>

<h4 class="ui horizontal divider header">
  <i class="space shuttle icon"></i>
  Run
</h4>

<a href="{% url 'run_new' pk=object.id %}" class="ui right floated blue button">
  <i class="plus icon"></i>Add run
</a>
<br />

Below is a list of Runs assocated with the current Job.
<table class="ui celled violet table">
  <thead>
    <tr>
    <th>Actions</th>
    <th>Run Name</th>
    <th>Description</th>
    <th>Termination</th>
    <th>Code</th>
    <th>Code Version</th>
    <th>Run by</th>
    <th>Notes</th>
  </tr></thead>
  <tbody>
    {% for run in object.run_set.all %}
    <tr>
      <td>
        <a href="{% url 'run_edit' pk=run.id %}" class="ui mini vertical blue basic animated button" tabindex="0">
          <div class="hidden content">Edit</div>
          <div class="visible content">
            <i class="edit icon"></i>
          </div>
        </a>
      </td>
      <td>
        <a href="{% url 'run_details' pk=run.id %}">{{run.name}}</a>
      </td>
      <td>{{run.description}}
      <td>{{run.termination_status}}</td>
      <td>{{run.code}}</td>
      <td>{{run.code_version}}</td>
      <td>{{run.run_by}}</td>
      <td>{{run.notes}}
    </tr>
  </tbody>
  {% endfor %}
</table>


<h4 class="ui horizontal divider header">
  <i class="newspaper icon"></i>
  References
</h4>

<!-- Begin add button -->
<a href="#" class="ui right floated blue button">
  <i class="plus icon"></i>
  Add Reference (WIP)
</a>
<!-- End add button -->
<br /><br />

{% include 'sinaweb/references.html' %}

{% endblock %}
