{% comment %}
Subtabs which break out the simulation data into their respective groups.
I'm going to try to do this dynamically since Scalars, Curves, and Arrays
follow a similar schema pattern.
{% endcomment %}

<!-- Start tabs for the manage displaying groups options -->
<div id="context2">

  <!-- Begin accordion -->
  {% for group in items %}
  <div class="ui styled fluid accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      {{group.grouper}}
    </div>
    <div class="content">
      <p class="transition hidden">
        {% include 'sinaweb/run/table.html' %}
      </p>
    </div>
  </div>
  {% endfor %}
  <!-- End accordion -->

</div> <!-- End of context2 -->
<!-- End tabs for the manage publications options -->
