{% comment %}
Handles the content for a tab.
{% endcomment %}

<div class="ui horizontal medium divider header">
  <i class="leaf icon"></i>
  {{title}}
</div>

{% comment %}
Not sure the best way to implement this. This is currently operating as a
generic view for displaying Scalar, Curve, and Array data. I'm not sure how to
make the links a variable (without using regular HTML links).

This could be implemented via a URL pattern and directed in the view, but I
decided to avoid complicating the views (for now). So instead, we'll just
run through the options and display the correct "Create" button.
{% endcomment %}

{% if name == "Scalar" %}
<!-- Begin add button -->
<a href="{% url 'scalar_new' pk=object.id %}" class="ui right floated blue button">
  <i class="plus icon"></i>
  Add {{name}}
</a>
<!-- End add button -->
{% endif %}
{% if name == "Curve" %}
<!-- Begin add button -->
<a href="{% url 'curve_new' pk=object.id %}" class="ui right floated blue button">
  <i class="plus icon"></i>
  Add {{name}}
</a>
<!-- End add button -->
{% endif %}
{% if name == "Array" %}
<!-- Begin add button -->
<a href="{% url 'array_new' pk=object.id %}" class="ui right floated blue button">
  <i class="plus icon"></i>
  Add {{name}}
</a>
<!-- End add button -->
{% endif %}

<br /><br /><br />

<!--Table for the respective group -->
{% include 'sinaweb/run/groups.html' %}
