{% comment %}
A generic table view for the Scalar, Curve, and Array data. Eventually, we
will likely have to make inividual views for these attributes as the table
columns change or figure out a way to make the table logic more dynamic.
{% endcomment %}

<table class="ui striped celled teal table">
  <thead>
    <tr>
    <th>Actions</th>
    <th>Name</th>
    <th>Value</th>
    <th>Unit</th>
    <th>Group</th>
    <th>Description</th>
    <th>Notes</th>
    <th>Permissions</th>
  </tr></thead>
  <tbody>
    {% for item in group.list %}
    <tr>
      <td>
        {% comment %}
        Not sure the best way to handle generic URLS to scalars, curves, arrays.
        The name variable is set in the `run/details.html` for each tab.
        {% endcomment %}
        {% if name == "Scalar" %}
        <a href="{% url 'scalar_edit' pk=item.id %}" class="ui vertical blue basic icon button">
          <i class="edit icon"></i>
        </a>
        {% endif %}
        {% if name == "Curve" %}
        <a href="{% url 'curve_edit' pk=item.id %}" class="ui vertical blue basic icon button">
          <i class="edit icon"></i>
        </a>
        {% endif %}
        {% if name == "Array" %}
        <a href="{% url 'array_edit' pk=item.id %}" class="ui vertical blue basic icon button">
          <i class="edit icon"></i>
        </a>
        {% endif %}
      </td>
      <td>
        {% if name == "Curve" %}
        <a href="{% url 'curve_plot' pk=item.id %}">{{item.name}}</a>
        {% endif %}
        {% if name != "Curve" %}
        <a href="#">{{item.name}}</a>
        {% endif %}
      </td>
      <td>{{item.value}}</td>
      <td>{{item.unit}}</td>
      <td>{{item.group}}</td>
      <td>{{item.description}}</td>
      <td>{{item.notes}}</td>
      <td>{{item.permissions}}</td>
    </tr>
    {% endfor %}
  </tbody>

</table>
